/* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: left;
    line-height: 150%;
    margin-bottom: 0rem;
    font-size: clamp(1rem, 10vw, 2rem); 
}


h1 {
     font-size: 4rem;
 }

 h4 {
  font-size: clamp(1rem, 10vw, 2rem);
}

 h2 {
  top: 78%;
  left: 1vh;
  background-color: #353534;
  width: fit-content;
  padding: 1vh;
}

  .HEADER {
    grid-area: HEADER;
  }
  
  .Navigation {
  grid-area: Navigation;
  margin-top: 9vh;
  margin-left: -3vh;
  position: fixed;
  
}
  
  .TEXTE {
    grid-area: TEXTE;
    overflow: auto;
    margin-right: 0.5vh;
    margin-left: 20vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
 

  .btn-start {
    text-align: center;
    margin-top: 10vh;
    }

  }
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
  p {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      text-align: left;
      line-height: 150%;
      margin-bottom: 0rem;
      font-size: clamp(1rem, 5vw, 2rem); 
  
}

    h1 {
        font-size: 10rem;
    }

    h2 {
      top: 1vh;
      left: 3vh;
      background-color: #353534;
      width: 0%;
    }

    h4 {
      font-size: clamp(1rem, 5vw, 2rem);
    }

 .HEADER {
      grid-area: HEADER;
    }
    
    .Navigation {
    grid-area: Navigation;
    margin-top: 9vh;
    margin-left: 0vh;
    position: fixed;
    
  }
    
    .TEXTE {
      grid-area: TEXTE;
      overflow: auto;
      margin-right: 1.5vh;
      margin-left: 23vh;
      margin-top: 10vh;
      margin-bottom: 10vh;
    }

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
  p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: left;
    line-height: 150%;
    font-size: clamp(1.5rem, 2.5vw, 4rem); 

}

h2 {
  top: 1vh;
  left: 4vh;
  background-color: #353534;
  width: 0%;
}

    h1 {
        font-size: 12rem;
    }

    h4 {
      font-size: clamp(1rem, 2.5vw, 4rem);
    }

    .HEADER {
      grid-area: HEADER;
    }
    
    .Navigation {
    grid-area: Navigation;
    margin-top: 9vh;
    margin-left: 1vh;
    position: fixed;
    
  }
    
    .TEXTE {
      grid-area: TEXTE;
      overflow: auto;
      margin-right: 8vh;
      margin-left: 28vh;
      margin-top: 10vh;
      margin-bottom: 10vh;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
  p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: left;
    line-height: 158%;
    font-size: clamp(1rem, 2.5vw, 2rem); 

}

h2 {
  top: 1vh;
  left: 5vh;
  background-color: #353534;
  width: 0%;
}

    h1 {
        font-size: 14rem;
    }

    h4 {
      font-size: clamp(1rem, 2.5vw, 2rem);
    }

    .HEADER {
      grid-area: HEADER;
    }
    
    .Navigation {
    grid-area: Navigation;
    margin-top: 9vh;
    margin-left: 2vh;
    position: fixed;
    
  }
    
    .TEXTE {
      grid-area: TEXTE;
      overflow: auto;
      margin-right: 10vh;
      margin-left: 35vh;
      margin-top: 10vh;
      margin-bottom: 10vh;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: left;
    line-height: 158%;
    font-size: clamp(1rem, 2.5vw, 1rem); 

}

h2 {
  top: 1vh;
  left: 8vh;
  background-color: #353534;
  width: 0%;
}

h4 {
  font-size: clamp(1rem, 2.5vw, 1rem); 
}

  .HEADER {
    grid-area: HEADER;
  }
  
  .Navigation {
  grid-area: Navigation;
  margin-top: 9vh;
  margin-left: 5vh;
  position: fixed;
  
}
  
  .TEXTE {
    grid-area: TEXTE;
    overflow: auto;
    margin-right: 20vh;
    margin-left: 40vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

      .btn-start {
        text-align: center;
        margin-top: 10vh;
        }
}

