/* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-align: left;
    line-height: 150%;
    margin-bottom: 0rem;
    font-size: clamp(1rem, 5vw, 2rem); 
}
}

h1 {
     font-size: 4rem;
 }

/*h2 {
    background: var(--bkg-color);
    width: 100%;
    height: 20%;
      
  }*/

.HEADER {
    grid-area: HEADER;
  }

.Navigation {
    grid-area: Navigation;
    margin-top: 30%;
    margin-left: -4%;
    position: fixed;
    
  }

  .TEXTE {
    grid-area: TEXTE;
    overflow: auto;
    margin-right: 5%;
    margin-left: 18%;
    margin-top: -110%;
  }

  .btn-start {
    text-align: center;
    margin-top: 10vh;
    }


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
    h1 {
        font-size: 10rem;
    }

    h2 {
        display: flex;
          float: right;
          position: fixed;
          top: 1%;
          left: 3%;
          font-family: 'Nanum Myeongjo', serif;
          font-size: 2rem;
          font-weight: 700;
          margin-top: 0rem;
          margin-bottom: 0rem;
          
      }

    .HEADER {
        grid-area: HEADER;
        margin-top: 0%;
      }

    .Navigation {
        grid-area: Navigation;
        margin-top: 20%;
        margin-left: 0%;
        position: fixed;
        
      }

      .TEXTE {
        grid-area: TEXTE;
        overflow: auto;
        margin-right: 5%;
        margin-left: 15%;
        margin-top: -10%;
      }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
    h1 {
        font-size: 12rem;
    }

    .Navigation {
        grid-area: Navigation;
        margin-top: 16%;
        margin-left: 0%;
        position: fixed;
        
      }

      .TEXTE {
        grid-area: TEXTE;
        overflow: auto;
        margin-right: 8%;
        margin-left: 8%;
        margin-top: -5%;
      }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
    h1 {
        font-size: 14rem;
    }


    .Navigation {
        grid-area: Navigation;
        margin-top: 12%;
        margin-left: 2%;
        position: fixed;
        
      }

      .TEXTE {
        grid-area: TEXTE;
        overflow: auto;
        margin-right: 8%;
        margin-left: 5%;
        margin-top: -2%;
      }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .Navigation {
        grid-area: Navigation;
        margin-top: 6%;
        margin-left: 2%;
        position: fixed;
        
      }

      .TEXTE {
        grid-area: TEXTE;
        overflow: auto;
        margin-right: 20%;
        margin-left: 10%;
        margin-top: 0%;
      }

      .btn-start {
        text-align: center;
        margin-top: 10vh;
        }
}

