/* Arrows scroll to top and bottom */
.arrow-wrapper
{
    display: flex;
    text-orientation: mixed;
    float: right;
    position: fixed;
    overflow-x: hidden;
    top: 96%;
    right: 3%;
    z-index: 1;
}

.arrow-up
{
    width: 0;
    height: 0;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
    border-bottom: 20px solid #FCFBF7;
    
}

.arrow-up:hover
{
    border-bottom: 20px solid #04AA6D;
}

.arrow-down:hover
{
    border-top: 20px solid #04AA6D;
}

/* //////// Arrows scroll to top and bottom //////// */