@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import "reset.css";
@import "typo.css";
@import "menu.css";
@import "navigation.css";
@import "fleche_top.css";
@import "nuit_jour.css";
@import "breakpoints.css";

    header {
      position:fixed ;
      width: 100%;
      height: 100%;
    }