@import "typo.css";

/* menu barre top */
.topnav {
  font-family: 'Nanum Myeongjo', serif;
    font-size: 1rem;
  overflow: hidden;
  position: fixed;
  width: 100%;
color: #FCFBF7;
background-color: #353534;

}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1rem;
}

.topnav a:hover {
  background-color: #f2f2f2;
  color: #04AA6D;
}

.topnav a.active {
  background-color: #04AA6D;
  color: #f2f2f2;
}

/* //////menu barre top/////// */

/* menu barre bottom */
.bottomnav {
  font-family: 'Nanum Myeongjo', serif;
    font-size: 1rem;
  display: flex;
  text-orientation: mixed;
  float: right;
  position: fixed;
  overflow-x: hidden;
  top: 94%;
  z-index: 1;
  width: 100%;
  height: 100%;
color: #FCFBF7;
background-color: #353534;

}

.bottomnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1rem;
}

.bottomnav a:hover {
  background-color: #f2f2f2;
  color: #04AA6D;
}

.bottomnav a.active {
  background-color: #04AA6D;
  color: #f2f2f2;
  
}

/* //////menu barre bottom/////// */