/* barre menue */
nav { 
    width:100%;
    min-height: 4vh; 
    padding: 3vh;
}
/* ////// barre menue ////// */

/* menu liste */
ul {
  list-style: none;
  padding-bottom: 1.5rem;
}

li {
  list-style: none;
  padding-left: 2rem;
  padding-top: 0.3rem;
}
/* ////// menu liste ////// */