/* barre menue */
nav { 
    width:95%;
    min-height: 4vh; 
    padding: 3vh;
}
/* ////// barre menue ////// */

/* menu liste */
ul {
  list-style: none;
  padding-bottom: 1.5rem;
}

li {
  list-style: none;
  padding-left: 2rem;
  padding-top: 0.3rem;
}
/* ////// menu liste ////// */

/* lien Emma */



/* ////// lien Emma ////// */


/* menu volume */
.container { 
  display: grid;
  text-align: center;
  grid-template-columns: 2fr 1fr 2fr; 
  grid-template-rows:  1fr;
  gap: 0px 0px;
  margin-top: 5rem;
  grid-auto-flow: row;
  grid-template-areas:
    "volume-01 volume-02 volume-03";
}

.volume-01 {
  font-family: 'Nanum Myeongjo', serif;
    font-size: 3rem;
    font-weight: 700;
  grid-area: volume-01; }

.volume-02 { 
  font-family: 'Nanum Myeongjo', serif;
    font-size: 3rem;
    font-weight: 700;
    grid-area: volume-02; }

.volume-03 { font-family: 'Nanum Myeongjo', serif;
  font-size: 3rem;
  font-weight: 700;
  grid-area: volume-03; }

/* ////// menu volume ////// */

.container-chapitre { 
  display: grid;
  text-align: center;
  grid-template-columns: 1.5fr 1fr 1.5fr; 
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "chapitre-01 chapitre-02 chapitre-03"
}

.chapitre-01 {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 2rem;
  font-weight: 400;
  grid-area: chapitre-01; }

.chapitre-02 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 2rem;
    font-weight: 400;
    grid-area: chapitre-02; }

.chapitre-03 {
      font-family: 'Nanum Myeongjo', serif;
      font-size: 2rem;
      font-weight: 400;
      grid-area: chapitre-03; }