/* barre menue */
nav { 
    width:100%;
    min-height: 4vh; 
    padding: 3vh;
}
/* ////// barre menue ////// */

/* menu liste */
ul {
  list-style: none;
  padding-bottom: 1.5rem;
}

li {
  list-style: none;
  padding-left: 2rem;
  padding-top: 0.3rem;
}
/* ////// menu liste ////// */


/* menu volume  */
.container { 
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1.5fr 1.5fr 0.5fr; 
  grid-template-rows: 1fr 1fr 1fr;
  gap: 100px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "en-tete en-tete en-tete en-tete en-tete"
    " marge-droite volume-01 volume-02 volume-03 marge-gauche"
    "footer footer footer footer footer";
}

.marge-droite { grid-area: marge-droite; }
.marge-gauche { grid-area: marge-gauche; }
.volume-01 {
  font-family: 'Nanum Myeongjo', serif;
    font-size: 3rem;
    font-weight: 700;
  grid-area: volume-01; }

.volume-02 { 
  font-family: 'Nanum Myeongjo', serif;
    font-size: 3rem;
    font-weight: 700;
    grid-area: volume-02; }

.volume-03 { font-family: 'Nanum Myeongjo', serif;
  font-size: 3rem;
  font-weight: 700;
  grid-area: volume-03; }

  .chapitre {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 3rem;
    font-weight: 700;
    grid-area: volume-03; }

.en-tete { grid-area: en-tete; }

.footer { grid-area: footer; }

/* ////// menu volume ////// */