body {
    --text-color: #353534;
    --bkg-color: #FCFBF7;
  }
  body.dark-theme {
    --text-color: #FCFBF7;
    --bkg-color: #353534;
  }
  
  @media (prefers-color-scheme: dark) {
    /* defaults to dark theme */
    body {
      --text-color: #FCFBF7;
      --bkg-color: #353534;
    }
    
    body.light-theme {
      --text-color: #353534;
      --bkg-color: #FCFBF7;
    }
  }
  
  * {
    font-family: 'Montserrat' ,Arial, Helvetica, sans-serif;
  }
  
  body, .wrapper {
    background: var(--bkg-color);
  }

 
  h1, h2, h3, h4, a,
  p {
    color: var(--text-color);
  }
  