@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&family=Nanum+Myeongjo:wght@400;700;800&display=swap');

.titre {
    color:  #353534;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 14rem;
    font-weight: 800;
    line-height: 0.8;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2vh;
    text-shadow: #353534 0px 0px 0.1rem;
}